.container-form-auth {
    margin-right: 100px;
    margin-top: 65px;
}

/* .container-formulario {
    width: 30%; 
    min-height: 60%;
    background-color: #265e28b9; 
    border: black 2px solid;
    padding: 20px; 
    margin-right: 100px;
    text-align: center;
} */

.text-log-in {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.div-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-formulario .controls {
    width: 90%;
    padding: 15px;
    margin-bottom: 30px; 
    border: 1px solid #aaa;
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #265e28;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

.div-forgot-password, .div-registrarse {
    margin-top: 15px;
    color: white;
}

.div-forgot-password a, .div-registrarse a {
    color: white;
    text-decoration: none;
}

#mensaje-exito {
    display: none;
    color: rgb(13, 0, 128);
    font-weight: bold;
    margin-top: 10px;
  }
  

/* Media queries para responsividad */
@media screen and (max-width: 992px) {
    .container-formulario {
        width: 50%;
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 70px;
    }
    
    header .header-container {
        height: 70px;
    }
    
    .header-image .logo-agroplus {
        height: 50px;
        margin-left: 15px;
    }
    
    .container-formulario {
        width: 70%;
        margin: 0 auto;
    }
    
    main {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    header {
        height: 60px;
    }
    
    header .header-container {
        height: 60px;
    }
    
    .header-image .logo-agroplus {
        height: 40px;
        margin-left: 10px;
    }
    
    .container-formulario {
        width: 85%;
        max-width: 320px;
        min-height: auto;
        padding: 15px;
        margin: 0 auto;
    }
    
    .div-formulario .controls {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 12px;
    }
    
    .container-formulario .text-log-in {
        font-size: 18px;
        margin-bottom: 20px;
    }
}
   
