.bloques-proyecto {
    width: 90%;
}

.bloques-proyecto li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.bloq {
    display: block;
    width: 600px;
    padding: 15px;
    background-color: #265e28b2;
    color: white;
    text-align: center;
    border-radius: 30px;
    border: black 2px solid;
}

.icon-whatsapp {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .whatsapp img {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
/* Media Queries para Diseño Responsive */
/* Tablets y dispositivos medianos */
@media screen and (max-width: 992px) {
    
    .bloq-privado h1 {
        font-size: 2.2rem;
        text-align: center;
        padding: 0 10px;
    }
    
    .bloques-proyecto {
        width: 80%;
    }
}

/* Dispositivos móviles */
@media screen and (max-width: 768px) {
    
    main {
        min-height: calc(100vh - 130px);
    }
    
    .bloq-privado h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    
    .bloq-registrer {
        width: 250px;
        padding: 12px;
    }
    
    .bloques-proyecto {
        width: 100%;
    }
    
    .bloq {
        padding: 12px;
    }
   
}

/* Dispositivos muy pequeños */
@media screen and (max-width: 480px) {
    
    .bloq-privado h1 {
        font-size: 1.5rem;
    }
    
    .bloq-registrer {
        width: 220px;
    }
    
    .bloq-registrer a {
        gap: 5px;
    }
}
