
/* .container-form{
    width: 30%; 
    min-height: 75%;
    background-color: #265e28b9; 
    border: black solid ;
    padding: 10px; 
    margin-top: 30px;
    margin-bottom: 75px;
    border-radius: 15px;
    text-align: center;
} */
.text-form-animal{
    color: white;
    font-size: 20px;
    margin: 10px 0;
}
.div-form-animal .controls{
    width: 90%;
    padding: 15px;
    font-weight: bolder;
    margin-top: 15px;
    border-radius: 8px;
    border:#aaa solid 1px;
}
.div-form-animal textarea {
    width: 90%; /* O un ancho específico, como 80% */
    height: 150px; /* Ajusta la altura según prefieras */
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 16px;
    resize: none; /* Evita que el usuario cambie el tamaño */
}


input[type="submit"] {
    background-color: #265e28;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

